* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Theme colors */
    --medium-gray: #363636;
    --dark-gray: #1d1d1d;
    --dark-gray-translucent: rgba(29, 29, 29, 0.97);
    --light-gray: #d6d6d6;
    --main-orange: #eb811e;
    --main-orange-active: #975211;
    --cold-white: #ecfbff;
    --color-key: rgb(53, 53, 53);
    --color-key-active: rgb(39, 39, 39);
    /* Food table config */
    --table-font-size: 14px;
    --table-font-weight: 200;
    --table-font-color: var(--light-gray);
    --filter-icons-table: invert(87%) sepia(21%) saturate(0%) hue-rotate(156deg) brightness(50%) contrast(96%);
    --filter-icons-table-hover: invert(87%) sepia(21%) saturate(0%) hue-rotate(156deg) brightness(70%) contrast(96%);
    --filter-icons-red: invert(48%) sepia(46%) saturate(2841%) hue-rotate(327deg) brightness(89%) contrast(119%);
    --filter-icons-red-hover: invert(48%) sepia(46%) saturate(2841%) hue-rotate(327deg) brightness(60%) contrast(119%);
}

body {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: var(--light-gray);
    background-size: cover;
    background-position-x: center;
    font-family: "Poppins", sans-serif;
}

.calculator {
    position: relative;
    overflow: hidden;
    width: 16rem;
    border-radius: .5rem;
    background-color: var(--dark-gray);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.display {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--dark-gray);
    text-align: right;
    padding: 1.6rem 1rem .7rem 1rem;
    font-size: 2rem;
    line-height: 2rem;
    color: var(--cold-white);
}

.display::after {
    content: attr(data-secondary-display);
    position: absolute;
    text-align: right;
    color: rgba(255, 255, 255, 0.5);
    right: 1.4rem;
    top: .55rem;
    line-height: 1rem;
    font-size: .6rem;
}

.keyboard {
    display: grid;
    grid-template-areas: '. . . .' 'seven eight nine equal' 'four five six equal' 'one two three equal' 'dot zero clear equal';
    grid-gap: 2px;
}

.key,
.operator {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: var(--cold-white);
    border: none;
    outline: none;
    min-height: 3rem;
    background-color: var(--color-key);
}

.key:active,
.operator:active {
    background-color: var(--color-key-active);
}

.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

.four {
    grid-area: four;
}

.five {
    grid-area: five;
}

.siz {
    grid-area: siz;
}

.seven {
    grid-area: seven;
}

.eight {
    grid-area: eight;
}

.nine {
    grid-area: nine;
}

.zero {
    grid-area: zero;
}

.dot {
    grid-area: dot;
}

.clear {
    grid-area: clear;
}

.equal {
    background-color: var(--main-orange);
    grid-area: equal;
}

.equal:active {
    background-color: var(--main-orange-active);
}

[data-state='selected'] {
    background-color: rgba(255, 255, 255, 0.2);
}